/* Add application styles & imports to this file! */
*, h1 {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

button, input[type="submit"] {
  text-align: center;
  padding: 0 16px;
  position:relative;
  display: inline-block;
  border: none;
  height: 36px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  background-color: #1D1D1D;
  color: #fff;
  margin-right: 12px;
  font-size: 14px;
}
button:disabled, input[type="submit"]:disabled{
  background-color: #b5b5b5;
}
button:hover:enabled, input[type="submit"]:hover:enabled{
  background-color: #4c4c4c;
}
input[type="text"] {
  position:relative;
  display: inline-block;
  height: 31px;
  width: 150px;
  padding: 0 16px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  margin-right: 12px;
  font-size: 14px;
}